.m-header-bottom {
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    color: #3C4646;

    &_nav {
        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 4px;
            }
        }
    }

    header {
        display: flex;
        align-items: center;

        h2 {
            font-weight: 300;
        }

        button {
            width: 20px;
            height: 20px;
            margin: 0 10px;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            font-size: 18px;
            color: gray;
        }
    }

    input {
        display: none;
        margin: 0 0 0 20px;
        outline: none;
        border: 1px solid gray;
        color: #3C4646;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
        width: 200px;
    }

    &.-edit-mode {
        input {
            display: inline-block;
        }
    }
}