@import '../../variables';

.m-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    background: $header-top-background;
    color: #B1B6B6;

    &_left {
        display: flex;
        align-items: center;
    }
}

.a-logo {
    height: 24px;
    margin-right: -70px;
}