@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}


html {
  font-size: 16px;
  color: white;
  min-height: 100%;
}
body {
  background-color: #646E6E;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #646E6E;
  min-height: 100%;
}

.o-main {
  position: relative;
  margin: 116px auto 20px 100px;
  background: #F0F0F0;
  max-width: 664px;
  width: 90%;
  border-radius: 2px;
  padding: 16px;
}

.m-fields-grid {
  display: flex;
  margin: 0 -8px;
  flex-wrap: wrap;
}

.m-fields {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0;
  padding: 0 8px;

  &.-thin {
    width: 216px;
    flex-wrap: 0 0 200px;
  }

  &.-wide {
    flex-grow: 1;
    flex-basis: 1;
  }
}

figure img {
  max-width: 100%;
}